<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>student</title>
</head>
<body>
<h2>Addition</h2>
<form action="add">
    Number 1 :<input type="text" name="num1"><br>
    Number 2 :<input type="text" name="num2"><br>
    <input type="submit">
</form><br><br>
<h2>Subfraction</h2>
<form action="sub">
    Number 1 :<input type="text" name="num1"><br>
    Number 2 :<input type="text" name="num2"><br>
    <input type="submit">
</form><br><br>
<h2>Multplication</h2>
<form action="mult">
    Number 1 :<input type="text" name="num1"><br>
    Number 2 :<input type="text" name="num2"><br>
    <input type="submit">
</form><br><br>
<h2>Division</h2>
<form action="div">
    Number 1 :<input type="text" name="num1"><br>
    Number 2 :<input type="text" name="num2"><br>
    <input type="submit">
</form><br><br>
</body>
</html>